@font-face {
   font-family: BaseNin;
   src: url("fonts/BaseNin.ttf") format("truetype");
}

html, body {
	margin:0;
	padding:0;	
	color:#797979
}

html, body, #ft {
        background-color:#eee;	
}

#doc2 {
	//background-color:#f7f7f7;	
}

#hd h1{
	font-family:BaseNin;
	font-variant:small-caps;
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 3px;
	margin-bottom:0px;   
	
}

#hd{
	background-color:white;	
	border-radius: 0px 80px 0px 0px;
        -moz-border-radius: 0px 80px 0px 0px;
	border-bottom:8px solid #eee;
	padding-left:2em;
	padding-top:5px;
	margin-top:10px;
}

#bd {
	border-radius: 0px 0px 100px 0px;
        -moz-border-radius: 0px 0px 100px 0px;
	background-color:#fff;	
	border-top:8px solid #00af21;
	padding-top:20px;
}

#bd > .yui-b ul li, #hd li{
	list-style:none;	
}

#ft {
	padding:20px;	
	color: #aaa;
}

#ft ul li {
	display:inline;	
}
#yui-main {
	padding-right:25px	
}




#footer-title {
    background-color: #fff;
    border-radius: 80px 80px 80px 80px;
    -moz-border-radius: 80px 80px 80px 80px;
    font-family: "Trebuchet MS";
    font-weight: lighter;
    letter-spacing: 2px;
    margin: 2px 15px 15px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 700px;
    font-size:1.3em;
}

a{
	color:black;	
}

h1 a, h2 a, h3 a, h4 a{
	text-decoration:none;
}
h1, h2, h3, h4{
	text-decoration:none;
	//font-family:BaseNin;
}


#hd a, #bd > .yui-b a, #ft a{
	text-decoration:none;	
}
#ft a {
	color: #aaa;	
}

#nav {
	padding-left:0px;
	margin:0px;
	padding-top:10px;
	margin-bottom:10px;	
	font-variant:small-caps;
}

.sidebar_pages li {
	font-variant:small-caps;
        padding-bottom:4px;
}

#nav li {
	display:inline;	
	padding-right:10px;
}

#searchform {
	padding-left:2em;
	padding-bottom:1em;	
}

#s {
	width:167px;
	border:1px solid #e6e6e6;
	background:#f9f9f9;
	font-size:11px;
	padding:2px 3px 3px;
	float:left;
}


#commentform {
	padding-bottom:10px;
}
		
#commentform input, #commentform textarea {
	width:147px;
	border:1px solid #e6e6e6;
	background:#f9f9f9;
	font-size:11px;
	padding:2px 3px 3px;
	}
	
#commentform textarea {
	width:500px;
	}
			
#commentform #submit {
	width:150px;
	border:none;
	background:#343434;
	font-size:11px;
	padding:0;
	color:#fff;
	font-size:12px;
	cursor:pointer;
	padding:2px 0 3px;
	}
